@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,800');
html{text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-text-stroke:1px transparent;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.woff') format('woff')
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff') format('woff')
}
*{margin:0; padding:0; box-sizing:border-box;}
body {
    font-family: 'Roboto', sans-serif;
	background:#f5f5f5;
	color:#6f7072;
	
}
header{ box-shadow: 0 0 5px 2px #e8e8e8; background:#fff; margin-bottom:10px}
header .header-container{width:100%; max-width:1100px; padding:30px; margin:auto;}
.clearfix{clear:both;}
.container{width:586px;padding:15px; margin:auto;}
h1.main-heading{font-size:39px; font-family: 'Roboto-Bold'; text-align:center; color:#6e6f71; font-weight:500}
h1.main-heading span{color:#1a79c5}
h2.heading-2{font-size:28px; font-family:'Roboto-Light'; font-weight:300;color:#6e6f71; text-align:center}
a,a:hover{text-decoration:none}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.fade.in {
    opacity: 1;
}
.nav {
    list-style: outside none none;
	margin-top:20px; 
}
.nav-tabs > li a.left-tab{ border-top-left-radius:5px;border-bottom-left-radius:5px;}
.nav-tabs > li a.right-tab{ border-bottom-right-radius:5px; border-top-right-radius:5px;}
.nav-tabs > li a {
    float: left;
    width:50%;
	text-align:center;
	background:#fff;
	color:#6e6f71;
	padding:5px 10px;
	text-transform:uppercase;
	font-size:18px; font-weight:500;
}
.nav-tabs > li.active a{background:#1a79c5; color:#fff;}
.gray,.white{margin-right:5px;}
.active .gray,.white{display:none;}
.active .white{display:inline-block;}


.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}
.tab-content{clear:both;}
.tab-pane{margin:30px 0px; float:left; width:100%}
.plan-hover{display:none}

.plan{width:260px; height:300px;display:-webkit-flex;
    display:-webkit-box; display:flex; -webkit-box-align: center; /* align-items */
    align-items: center; position:relative; cursor:pointer;}
.plan-left{float:left}
.plan-right{float:right}
.plan-inactive,.plan-hover{width:100%; background:#fff; box-shadow:0px 2px 4px -2px #ccc; border-radius:5px}
.plan-heading{background:#6e6f71; padding:22px 10px; color:#fff; font-size:28px; font-weight:400; text-align:center; text-transform:uppercase; position:relative; border-top-left-radius:5px; border-top-right-radius:5px;}
.plan-heading:after{content:""; width:0px; height:0px; border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid #6e6f71;position:absolute; bottom:-10px; left:48%; left:calc(50% - 10px)}
.trial{margin-top:45px; border-top:1px solid #efeff0}
.trial span {
    background: #6e6f71 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: table;
    margin: -15px auto auto;
    padding: 5px 30px;
    text-align: center;
	font-size:13px; text-transform:uppercase;
}
.price-tab{text-align:center; margin-top:30px; padding-bottom:30px}
.price{font-size:32px;}
.price-text{font-size:13px}
.plan-inactive.anual{position:relative}
.plan-inactive.anual:after{content:url(../images/best_value_inactive.png); position:absolute; right:-8px; top:-6px}

.plan-hover{width:300px; position:absolute; top:0; z-index:99; left:0}
.plan-hover .plan-heading{background:#1b79c5; padding:25px 10px; color:#fff; font-size:32px; font-weight:400; text-align:center; text-transform:uppercase; position:relative}
.plan-hover .plan-heading:after{content:""; width:0px; height:0px; border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid #1b79c5;position:absolute; bottom:-10px; left:calc(50% - 10px)}
.plan-hover .trial{margin-top:45px; border-top:1px solid #efeff0}
.plan-hover .trial span {
    background: #6e6f71 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: table;
    margin: -15px auto auto;
    padding: 5px 30px;
    text-align: center;
	font-size:13px; text-transform:uppercase;
}
.plan-hover .price-tab{text-align:center; margin:45px 0px 0; padding-bottom:45px}
.plan-hover .price{font-size:38px; color:#1a79c5}
.plan-hover .price-text{font-size:13px}
.plan-right .plan-inactive.anual{position:relative}
.plan-right .plan-hover {right:0; left:inherit}
 
.plan-hover.anual:after{content:url(../images/best_value_active.png); position:absolute; right:-8px; top:-6px}


.todays-total{background:#fff; padding:20px 25px; border-radius:5px; font-size:18px; font-weight:500;}
.todays-total del{font-size:13px; color: #999; padding:0px 10px;}
.todays-total .trial-days{color:#1c79c3; font-size:13px; text-transform:uppercase}
.todays-total .amount{float:right; font-size:24px; font-weight:400; color:#1b77c0}

form{margin:30px 0px;}
form p{margin:15px 0px}
h3{font-size:13px; text-transform:uppercase; font-weight:500; margin:15px 0px 0}
h3 span,h3 img{display:inline; vertical-align:middle; padding-right:10px;}

input{background:#fff; padding:15px 35px; border-radius:50px; border:none; box-shadow:0 1px 2px 0px #ddd inset; font-size:16px; color:#aaa; width:100%; font-family:"Roboto"; border:1px solid #e1e1e1; text-align:center }
.email{width:365px;
}
input[type="number"] {
-moz-appearance: textfield;
}
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
   opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
   opacity: 0.5;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.password{width:180px; float:right;}
.spacer{width:10px; display:inline-block;}
.credit_card{width:280px; background:#fff url(../images/bg_cc.png) no-repeat 92% center;background:#fff url(../images/bg_cc.png) no-repeat right 20px center; }
.mm_yy,.cvv{width:128px;}
.cvv{float:right}

.btn-submit{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d60e+0,b9c502+100 */
background: #c9d60e; /* Old browsers */
background:  url(../images/icon-lock.png) no-repeat 20px, -moz-linear-gradient(top,  #c9d60e 0%, #b9c502 100%); /* FF3.6-15 */
background:  url(../images/icon-lock.png) no-repeat 20px, -webkit-linear-gradient(top,  #c9d60e 0%,#b9c502 100%); /* Chrome10-25,Safari5.1-6 */
background: url(../images/icon-lock.png) no-repeat 20px, linear-gradient(to bottom,  #c9d60e 0%,#b9c502 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d60e', endColorstr='#b9c502',GradientType=0 ); /* IE6-9 */
color:#fff; text-align:center; text-transform:uppercase; cursor:pointer;
font-weight:500; font-size:18px;
}

.description{text-align:center; font-size:13px;}
.security{text-align:center; margin:20px 0px}
.logo-sm{width:166px; height:auto}
.cards-sm{width:223px; height:auto}
.icons-security-sm{width:198px; height:auto}
.logo-sm,.cards-sm,.icons-security-sm,
.active .white.icon-sm,.gray.icon-sm{display:none;}
.active .right-tab .white.icon-sm,.right-tab .gray.icon-sm{height:18px; width:auto}
.active .left-tab .white.icon-sm,.left-tab .gray.icon-sm{height:18px; width:auto}
@media (max-width:585px){
	.container{width:100%}
	.plan,.plan-hover{width:100%}
	input{width:100% !important; float:none !important;}
	.todays-total .trial-days{display:block;}
	.todays-total .amount{float:none}
	
	.logo-lg,.cards-lg,.icons-security-lg,.active .white.icon-lg,.gray.icon-lg,.active .gray.icon-sm{display:none}
	.logo-sm,.cards-sm,.icons-security-sm,.active .white.icon-sm,.gray.icon-sm{display:inline-block}
	.plan-hover.anual:after{content:""; background:url(../images/best_value_active_retina.png) no-repeat; position:absolute; right:-8px; top:-6px; width:148px; background-size:148px; height:145px}
	.plan-inactive.anual:after{content:""; background:url(../images/best_value_inactive_retina.png) no-repeat; position:absolute; right:-8px; top:-6px; width:112px; height:110px; background-size:112px}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( min-resolution: 192dpi) and (min-width: 320px),
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {
	.logo-lg,.cards-lg,.icons-security-lg,.active .white.icon-lg,.gray.icon-lg,.active .gray.icon-sm{display:none}
	.logo-sm,.cards-sm,.icons-security-sm,.active .white.icon-sm,.gray.icon-sm{display:inline-block}
	.plan-hover.anual:after{content:""; background:url(../images/best_value_active_retina.png) no-repeat; position:absolute; right:-8px; top:-6px; width:148px; background-size:148px; height:145px}
	.plan-inactive.anual:after{content:""; url:(../images/best_value_inactive_retina.png) no-repeat; position:absolute; right:-8px; top:-6px; width:112px; height:110px; background-size:112px}
	}